<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="Dark_Cuisine_circlesEntities" connectionString="metadata=res://*/DBDataModel.csdl|res://*/DBDataModel.ssdl|res://*/DBDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;Dark Cuisine circles&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="DrEntities1" connectionString="metadata=res://*/DrModel.csdl|res://*/DrModel.ssdl|res://*/DrModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.;initial catalog=&quot;Dark Cuisine circles&quot;;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
</configuration>